<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:normal_user_session, url: loginforuser_path) do |f| %>

      <%= f.select (:credentials), ['email','phonenumber'],class: 'form-control' %>
      <%= f.text_field :credentials_type %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    
  </div>
</div>
