<%= form_with scope: :normaluser, url: create1_path,local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </p>
 <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
 <p>
    <%= form.label :accounttype %><br>
    <%= form.select :accounttype, ['buyer','owner','broker'] %>
  </p>
 <p>
    <%= form.label :phonenumber %><br>
    <%= form.text_field :phonenumber %>
  </p>
 <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['active','inactive'] %>
  </p>
   
 
  <p>
    <%= form.submit('create') %>
  </p>
<% end %>